h1 {

  color: #000000;
  background-color: #ffffff;
  text-align: center
}

h2 {
  color: #ffffff;
  background-color: #000000
  font-family: "Helvetica Neue", "Arial",  sans-serif;
  width: 650px;
  text-align: center
}

h3 {
  color: #ffffff;
  background-color: #000000
  font-family: 'Helvetica Neue', 'Arial',  sans-serif;
  width: 650px;
  text-align: center
}

p {
  color: #ffffff;
  width: 700px;
  margin: 50px;
  font-family: "Helvetica Neue", "Arial",  sans-serif;
  font-size: 15px;
  text-align: center
}

body {
  background-color: #c1502e;
}

div {
    background-color: #ffffff;
}
img {
    border: 10px solid #ffffff
}
