h1 {
  font-family: 
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

h2 {
  color: #000000;
  background-color: #ffffff;
  font-family: "Helvetica Neue", "Arial",  sans-serif;
  text-align: center;
}

h3 {
  color: #000000;
  background-color: #ffffff;
  font-family: 'Helvetica Neue', 'Arial',  sans-serif;
  text-align: center;
}

p {
  color: #ffffff;
  font-family: "Helvetica Neue", "Arial",  sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

body {
  background-color: #c1502e;
}

img {
  border: 10px solid black;
  border-radius: 5px;
  height: 500px;
  width: 700px;
}

footer{
  font-style: italic;
}

ul {
  color: #000000;
  background-color: #ffffff
}

a:link {
  color: #ffffff;
}

a:visited {
  color: #999999;
}

#nav:hover {
  background-color: #999999;
}

#footlink:hover {
  background-color: #999999;
}

a[href*=".com" i] {
  color: #999999;
}

a[href*=".org" i] {
  color: #999999;
}

a[href*=".us" i] {
  color: #999999;
}

h1 + p {
  font-style: normal, 
}

h2 + p {
  font-style: normal;
}

img + p {
  font-weight: bold;
}

.sections {
  text-align: left;
  font-style: cursive;
  font weight: bold;
}

.links {
  font weight: bold;
  color: #ffffff;
}
